* {
  margin: 0;
  padding: 0;
}

html,
body {

  touch-action: none; 
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #111;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}







/*     --------------------------------------------------    */
/*     -------------------CAROUSEL-----------------------    */
/*     --------------------------------------------------    */

#drag-container, #spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover, #drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
          box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  color: #fff;
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}

#music-container {
  position: absolute;
  top: 90%;
  left: 80%;
}

@-webkit-keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}



/*     --------------------------------------------------    */
/*     -------------------CAROUSEL-----------------------    */
/*     --------------------------------------------------    */

#brand-name{
    text-decoration: none;
    font-size: 185%;
    color: ghostwhite;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 30px;
    float: left;
}

.logo{
    width: 85px;
    height: 85px;
    background-color: transparent;
    position: relative;
    top: 15px;
    left: 15px;
    float: left;
}
#brand-details{
    position: absolute;
    top: 3%;
    left: 1%;
}



/*     --------------------------------------------------    */
/*     -------------------social-icons-----------------------    */
/*     --------------------------------------------------    */


#social-icons{
    position: absolute;
    top:87%;
    left: 3%;
}

.btn {
  width: 55px;
  height: 55px;
  margin: 10px;
    
  color: #df5b5c;
  overflow: hidden;
  position: relative;
  border-radius: 30%;
  background: #f1f1f1;
  text-decoration: none;
  box-shadow: 0 5px 15px -5px #00000070;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn i {
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:before {
  content: "";
  width: 120%;
  height: 120%;
  left: -110%;
  top: 90%;
  position: absolute;
  background: #3498db;
  transform: rotate(45deg);
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #df5b5c 0%, #df5b5c 100%);
}
.btn:hover i {
  color: #f1f1f1;
  transform: scale(1.3);
}
.btn:hover:before {
  top: -10%;
  left: -10%;
  animation: animation1 0.7s 1;
}
@keyframes animation1 {
  0% {
    top: 90%;
    left: -110%;
  }
  50% {
    top: -30%;
    left: 10%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}



#developer{
    position: absolute;
    top: 86%;
    left: 78%;
    height: 10%;
    width: 20%;
   
}
#img-me{
    float: left;
    position: relative;
    top: 9%;
    height :75px;
    width: 75px;
}
#Dev{
    color: ghostwhite;
    position: relative;
    top: 40%;
    font-family: 'Source Serif Pro', serif;
}
.My-Name{
    color: #df5b5c;
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
    position: relative;
    top: 43%;
    margin-top: 0;
    padding-top: 0;
    float: left;
}


@media screen and (max-width: 600px) {

  


  #brand-name{
    text-decoration: none;
    font-size: 160%;
    color: ghostwhite;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 8px;
    float: left;
}

.logo{
    width: 65px;
    height: 65px;
    background-color: transparent;
    position: relative;
    top: 0px;
    left: 8px;
    float: left;
}
#brand-details{
    position: absolute;
    top: 3%;
    left: 1%;
}







#social-icons{
  position: absolute;
  bottom : 5vh;
  left: 3%;
}

.btn {
width: 30px;
height: 30px;
margin: 10px;
  font-size: 50px;
color: #df5b5c;
overflow: hidden;
position: relative;
border-radius: 30%;
background: #f1f1f1;
text-decoration: none;
box-shadow: 0 5px 15px -5px #00000070;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}








#developer{
  left:30%;
 bottom:-3vh;
  width: 80%;
 
}
#img-me{
  margin-top: 10px;
  height :40px;
  width: 40px;
}
#Dev{
 position: absolute;
 top: 35% ;
 font-size:12px;

}
.My-Name{
top:55%;
position: absolute;
font-size: 15px;
}

}
